#browser {
--colorFg: rgb(236, 224, 224) !important;  /* foreground text */
--colorFgAlpha: rgba(236, 224, 224, 0.1) !important; /* foreground text */
--colorFgIntense: rgb(236, 224, 224) !important; /* foreground text */
/*--colorFgFaded: rgb(0, 0, 0) !important; /* unfocused window foreground text */
/*--colorFgFadedMore: rgb(0, 0, 0) !important; /* unfocused window foreground text */
/*--colorFgFadedMost: rgb(0, 0, 0) !important; /* unfocused window foreground text */
--colorBg: rgb(95, 65, 70) !important; /* adress bar and selected tab and settings sidebar */
--colorBgAlpha: rgba(95, 65, 70, 0.9) !important; /* adress bar and selected tab and settings sidebar */
--colorBgAlphaHeavy: rgba(95, 65, 70, 0.65) !important; /* adress bar and selected tab and settings sidebar */
--colorBgAlphaHeavier: rgba(95, 65, 70, 0.25) !important; /* adress bar and selected tab and settings sidebar */
--colorBgAlphaBlur: rgb(24, 18, 19) !important; /* adress bar and selected tab */
--colorBgDark: rgb(24, 18, 19) !important; /* n/a */
--colorBgDarker: rgb(0, 0, 0) !important; /* n/a */
--colorBgLight: rgb(14, 10, 11) !important; /* unfocused adress bar and selected tab */
--colorBgLighter: rgb(43, 32, 34) !important; /* unfocused adress bar and selected tab */
--colorBgLightIntense: rgb(43, 32, 34) !important; /* n/a */
--colorBgIntense: rgb(24, 18, 19) !important; /* search field */
--colorBgIntenser: rgb(0, 0, 0) !important; /* search field */
--colorBgIntserAlpha: rgba(0, 0, 0, 0.92) !important; /* search field */
--colorBgInverse: rgb(82, 67, 69) !important; /* only on crtl+f => not found */
--colorBgInverser: rgb(28, 22, 23) !important; /* only on crtl+f => not found */
/*--colorBgFaded: rgb(255, 177, 192) !important; /* n/a */
--colorHighlightBg: rgb(255, 177, 192) !important; /* text highlight and search field border */
--colorHighlightBgFaded: rgb(51, 0, 9) !important;  /* text highlight and search field border */
--colorHighlightBgAlpha: rgba(255, 177, 192, 0.1) !important; /* text highlight and search field border */
--colorHighlightBgDark: rgb(0, 0, 0) !important; /* text highlight and search field border */
--colorHighlightFg: rgb(83, 31, 44) !important; /* selected text */
--colorHighlightFgAlpha: rgba(83, 31, 44, 0.5) !important; /* selected text */
--colorHighlightFgAlphaHeavy: rgba(83, 31, 44, 0.25) !important; /* selected text */
--colorAccentBg: rgb(24, 18, 19) !important; /* tab bg color */
--colorAccentBgAlpha: rgba(24, 18, 19, 0.55) !important; /* tab bg color */
--colorAccentBgAlphaHeavy: rgba(24, 18, 19, 0.35) !important; /* tab bg color */
--colorAccentBgDark: rgb(32, 26, 27) !important; /* n/a */
--colorAccentBgDarker: rgb(18, 13, 14) !important; /* n/a */
--colorAccentBgFaded: rgb(24, 18, 19) !important; /* unfocused tab bg color */
--colorAccentBgFadedMore: rgb(32, 26, 27) !important; /* n/a */
--colorAccentBgFadedMost: rgb(18, 13, 14) !important; /* n/a */
--colorAccentBorder: rgb(82, 67, 69) !important; /* n/a */
--colorAccentBorderDark: rgb(0, 0, 0) !important; /* n/a */
--colorAccentFg: rgb(236, 224, 224) !important;  /* tab titles and vivaldi sign */
--colorAccentFgFaded: rgb(0, 0, 0) !important; /* tab titles and vivaldi sign */
--colorAccentFgAlpha: rgba(236, 224, 224, 0.15) !important; /* tab titles and vivaldi sign */
--colorAccentFgAlphaHeavy: rgba(236, 224, 224, 0.35) !important; /* tab titles and vivaldi sign */
--colorBorder: rgb(159, 140, 143) !important; /* some borders */
--colorBorderDisabled: rgb(255, 177, 192) !important; /* some borders disabled */
--colorBorderSubtle: rgb(0, 0, 0) !important; /* some borders disabled */
--colorBorderIntense: rgb(82, 67, 69) !important; /* some borders disabled */
--colorSuccessBg: rgb(118 100.00% 32.75%);
--colorSuccessBgAlpha: rgba(118 100.00% 32.75% / 0.10);
--colorSuccessFg: rgb(0 0.00% 100.00%);
--colorWarningBg: rgb(48 100.00% 50.00%);
--colorWarningBgAlpha: rgba(48 100.00% 50.00% / 0.10);
--colorWarningFg: rgb(0 0.00% 0.00%);
--colorErrorBg: rgb(147, 0, 10) !important;
--colorErrorBgAlpha: rgba(147, 0, 10, 0.1) !important;
--colorErrorFg: rgb(105, 0, 5) !important;
/* --colorWindowBg: rgb(255, 180, 171) !important; new page monotone bg (replaces image background) */
/* --colorWindowFg: rgb(255, 180, 171) !important; fg for previos*/
}

/* in some color schemes settings appear too bright. this is meant to fix it. */
.vivaldi-settings,
.settings-content,
.settings-sidebar {
  background-color: rgb(24, 18, 19) !important;
}
